.sectionbox{
    flex-direction: column;
    align-items: center;
}
.best{
    flex-direction: column;
    align-items: center;   
    img{
        height: 300px;
    }
}
.home1{
    h1{
        font-size: 40px;
        padding: 0px 40px;
        text-align: center;
    }
    p{
        font-size: 15px;
    }
    .tour{
        width: 60%;
        min-width: 280px;
    }
}
.offer{
    height: 100%;
    .offerpic{
        height: 200px;
        img{

            height: 300px;
            top:-65px;
        }
    }
    .offermatter{
        /* height: 180px;
        h1{
            padding: 5px 0px;
        } */
    }
}
.packbox{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.bestmatter{
    width: 90%;
    padding: 30px 30px;
}
.packhead{
    font-size: 20px;
    padding: 0px 0px;
}
.packele{

    justify-content: center;
    /* align-items: center; */
    width: 300px;
}
.contacttype{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.consocial{
    padding: 20px 20px;
}
.bar{
    position: absolute;
    flex-direction: column;
    right:-450px;
    top:134px;
    background-color: #e7962b;
    transition: 0.4s ease;
}
.navbar{
    transition: 0.4s ease;
    right:-270px;
    a{
        padding: 10px 20px ;
    }
}
.navbar a:hover{
    color: black;
    background-color: white;
}
.navbar a:hover::after{
    height: 0px;
}
.contactimg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.servies{
    flex-direction: column;
    align-items: center;
}
.offer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height:500px; */
    .offermatter{
        margin-top: 60px;
    }
}
.offerpic {
    img{
        display: none;
    }
}
.bestmatter{
    padding: 0px 40px;
}
.bookinf{
    padding-left: 10px;
}

.logo{
    width:100px;
}
.fa-bars{
    /* display:block; */
    opacity: 100%;
    color: white;
    font-size: 20px;
    position: relative;
}
.bookinf{
.input
{   width: 50%;
    .inputbox{
        width: 50%;
    }
    input,select{
        width: 50px;
    }
}
}
.reviewbox{
    flex-direction: column;
    align-items: center;
    .reviewele{
        justify-content: center;
        text-align: center;
    }
}
.reviewhead {
    justify-content: center;
    align-items: center;
}
.rewicon{
    display: none;
}
.contact {
        padding: 20px 50px;
    }
